@media only screen and (min-width: 300px) and (max-width: 926px) {
  * {
    box-sizing: border-box;
  }

  body {
    background-image: url(./nebulosa2.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1%;
  }

  form {
    margin: 0;
    padding: 0;
  }

  form p {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: Emilys Candy;
    font-size: 10vw;
    color: purple;
    opacity: 1;
  }

  h3 {
    font-family: Emilys Candy;
    font-size: 6vw;
    text-align: center;
    color: purple;
  }

  input, select {
    float: right;
    margin: 0;
    padding: 0;
  }

  label {
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 10%;
    margin-bottom: 3%;
    text-decoration-style: bold;
    font-size: 4vw;
  }

  p {
    margin: 0;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
  }

  table {
    width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
  }

  td {
    margin: 0;
    padding-top: 2%;
  }

  th {
    text-align: left;
    margin: 0;
    padding-top: 2%;
    font-size: 4vw;
  }

  tr {
    margin: 0;
    padding: 0;
  }

  .aviso {
    text-align: center;
  }

 .boton {
    width: 50%;
    padding: 1%;
    background-color: purple;
    color: white;
    font-size: 4vw;
    margin: 0;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
  }

  .boton-1 {
    margin-top: 3%;
  }

  .boton-enviar {
    margin-top: 7%;
  }

  .boton-inactivo {
    background-color: grey;
    color: purple;
  }

  .cont {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    gap: 20px;
    row-gap: 25px;
  }

  .elem {
    background-color: darkgrey;
    border-radius: 20px;
    opacity: 0.85;
    margin: 0;
    padding: 3%;
  }

  .elem a {
    text-decoration: none;
  }

  .elem h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 3%;
  }

  .elem p {
    color: black;
  }

  .elem section {
    border: solid purple 2px;
    border-radius: 15px;
    padding: 3%;
  }

  .elem-cab {
    grid-column: 1 / 2;
    text-align: center;
  }

  .elem-cab p {
    text-align: center;
  }

  .elem-info section h4 {
    margin: 0;
    margin-top: 7%;
    text-align: left;
    margin-left: 5%;
  }

  .elem-nav {
    grid-column: 1 / 2;
    position: sticky;
    top: 0px;
    z-index: +1;
  }

  .elem-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-size: 6vw;
  }

  .elem-nav ul li {
    margin-top: 0.5%;
    margin-bottom: 0.4%;
    margin-left: 1%;
  }

  .elem-nav ul li a {
    display: block;
    float:none;
    width: 94%;
    float: left;
    color: purple;
    text-decoration: none;
    text-align: left;
    padding: 3%;
    padding-right: 5%;
    padding-left: 5%;
  }

  .elem-nav ul li a:hover {
    background-color: purple;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding-right: 5%;
    padding-left: 5%;
  }

  .elem-pie {
    grid-column: 1 / 2;
    opacity: 0.8;
  }

  .elem-pie a {
    display: block;
    float:none;
    width: 94%;
    float: left;
    color: purple;
    text-decoration: none;
    text-align: left;
    padding: 3%;
    padding-right: 5%;
    padding-left: 5%;
  }

  .elem-pie a:hover {
    text-decoration: underline;
  }

  .enlaceAncho {
    display: none;
  }

  .menuA {
    display: block;
  }

  .menuC {
    display: none;
  }

  .publi-d {
    display: none;
  }

  .publi-i {
    display: none;
  }

  .salto {
    display: none;
  }

  .semana {
    width: 100%;
    float: left;
    object-fit: contain;
  }

  .serv-caja, .serv-nombre {
    margin: 0;
    padding: 0;
  }

  .servicio {
    margin: 0;
    padding: 0;
    padding-top: 1%;
  }

  .servicio th, .servicio td {
    padding-bottom: 3%;
  }

  .sinEnlace {
    display: block;
  }

  #actual {
    opacity: 0.45;
  }

  #botonActual, #botonAnterior, #botonSiguiente {
    float: left;
    width: 25%;
    margin: 0;
    margin-top: 3%;
    margin-left: 6.6%;
    margin-bottom: 1%;
  }

  #descripcion {
    text-align: center;
  }

  #luna {
    float: right;
    margin: 2%;
    width: 20%;
  }

  #menu {
    display: inline-block;
    width: 50%;
    font-size: 4vw;
    margin: 2%;
    margin-left: 25%;
    padding: 1%;
  }

  #sol {
    float: left;
    margin: 2%;
    width: 21%;
  }

  #tarot {
    width: 100%;
    object-fit: contain;
  }
}

#zodiaco {
  width: 100%;
  object-fit: contain;
  margin-top: 7%;
  margin-bottom: 4%;
}

@media only screen and (min-width: 927px) {
  * {
    box-sizing: border-box;
  }

  body {
    background-image: url(./nebulosa2.webp);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    padding: 1%;
  }

  h1 {
    font-family: Emilys Candy;
    font-size: 4vw;
    text-align: center;
    color: purple;
    opacity: 1;
    margin: 0;
    padding: 0;
  }

  h3 {
    font-family: Emilys Candy;
    font-size: 1.5vw;
    text-align: center;
    color: purple;
    opacity: 1;
  }

  form div p {
    text-align: center;
    font-size: 2.4vw;
  }

  input, select {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 5%;
    margin-bottom: 3%;
  }

  label {
    float: left;
    margin: 0;
    padding: 0;
    text-decoration-style: bold;
    font-size: 1vw;
    margin-bottom: 5%;
  }

  p {
    color: black;
    font-size: 1.2vw;
  }

  table {
    width: 100%;
    object-fit: contain;
    border-spacing: 1.9vw;
    margin: 0;
    padding: 0;
  }

  .aviso {
    text-align: center;
    font-size: 2.4vw;
  }

  .boton {
    width: 50%;
    padding: 1%;
    background-color: purple;
    color: white;
    font-size: 1vw;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  .boton-1 {
    display: none;
  }

  .boton-enviar {
    width: 30%;
    float: left;
    margin-left: 35%;
  }

  .boton-inactivo {
    background-color: grey;
    color: purple;
  }

  .cajas {
    width: 65%;
    float: right;
    margin: 0;
    padding: 0;
  }

  .cajitas {
    float: right;
    margin: 0;
    padding: 0;
  }

  .cajonera {
    width: 100%;
  }

  .cont {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(60, minmax(7px, 1fr));
    column-gap: 1px;
  }

  .datos {
    text-align: left;
  }

  .dias {
    width: 65%;
    float: right;
    text-align: right;
    margin: 0;
    padding: 0;
    padding-right: 2.2%;
  }

  .dias label {
    margin: 0;
    padding: 0;
    float: right;
    font-size: 1.5vw;
    margin-right: 10.15%;
    text-align: left;
  }

  .elem {
    background-color: darkgrey;
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
    border-radius: 20px;
    opacity: 0.85;
  }

  .elem a {
    text-decoration: none;
    color: purple;
    margin: 0;
    padding: 0;
  }

  .elem a section {
    margin: 0%;
    padding: 6%;
  }

  .elem a section h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 7%;
  }

  .elem a section p {
    margin: 0;
    padding: 0;
    margin-top: 2%;
  }

  .elem a section:hover {
    width: 99%;
    margin: 0%;
    padding: 2%;
    border: solid purple 2px;
    border-radius: 15px;
  }

  .elem-1-g {
    grid-column: 12 / 50;
    height: 94%;
    padding: 0.5%;
  }

  .elem-2-i {
    grid-column: 11 / 29;
    padding: 3%;
  }

  .elem-2-d {
    grid-column: 33 / 51;
    padding: 3%;
  }

  .elem-2-p {
    grid-column: 1 / 19;
    padding: 3%;
  }

  .elem-2-g {
    grid-column: 20 / 62;
    height: 96.5%;
    padding: 0.5%;
  }

  .elem-3-i {
    grid-column: 1 / 19;
    padding: 3%;
  }

  .elem-3-c {
    grid-column: 22 / 40;
    padding: 3%;
  }

  .elem-3-d {
    grid-column: 43 / 62;
    padding: 3%;
  }

  .elem-cab {
    grid-column: 1 / 61;
    margin: 0;
    margin-bottom: 20px;
    padding: 2%;
    text-align: center;
  }

  .elem-cab h1 {
    margin-top: 1%;
  }

  .elem-form {
    grid-column: 18 / 44;
    padding: 1%;
  }

  .elem-form h3 {
    font-size: 2vw;
    opacity: 1;
    margin-bottom: 0;
  }

  .elem-form section {
    width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
  }

  .elem-info {
    grid-column: 1 / 61;
    padding: 1%;
    margin-bottom: 2%;
  }

  .elem-info section {
    width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 1%;
    border: solid purple 2px;
    border-radius: 15px;
  }

  .elem-info section ul {
    list-style: none;
  }

  .elem-nav {
    height: 3.4vw;
    position: sticky;
    top: 0;
    grid-column: 1 / 61;
    margin: 0;
    padding: 0.8vw;
    padding-left: 1.5%;
    margin-bottom: 20px;
    border-radius: 10px;
    align-content: center;
    z-index: +1;
  }

  .elem-nav ul {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
  }

  .elem-nav ul li {
    float: left;
    list-style: none;
    margin-left: 1.5%;
  }

  .elem-nav ul li a {
    color: purple;
    text-decoration: none;
    align-self: center;
    opacity: 1;
    margin-left: 5%;
    margin-right: 5%;
    padding: 9px;
  }

  .elem-nav ul li a:hover {
    border: solid purple 2px;
    border-radius: 7px;
    font-size: 1.6vw;
    margin: 0;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 4px;
    object-fit: contain;
  }

  .elem-pie {
    grid-column: 1 / 61;
    margin: 0;
    padding: 0.8vw;
    padding-left: 1.5%;
    margin-bottom: 10px;
    border-radius: 10px;
    align-content: center;
    opacity: 0.8;
  }

  .elem-pie a {
    float: left;
    margin-left: 25%;
    font-size: 1.2vw;
    opacity: 1;
  }

  .elem-pie a:hover {
    text-decoration: underline;
  }

  .enlaceAncho {
    display: block;
  }

  .enunc {
    float: left;
    text-align: left;
  }

  .enunc-1 {
    margin-left: 5%;
    margin-right: 40%;
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 1.5vw;
  }

  .enunc-2 {
    margin-left: 5%;
    margin-right: 29.5%;
    margin-bottom: 5%;
  }

  .enunc-3-1 {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    margin-top: 0.6%;
    margin-bottom: 3%;
  }

  .enunc-3-2 {
    float: right;
    font-size: 1.5vw;
    margin: 0;
    margin-top: 0.6%;
    margin-right: 6.5%;
    margin-bottom: 15%;
  }

  .enunc-4 {
    float: left;
    margin-top: 0.5%;
    margin-bottom: 4.5%;
  }

  .enviar {
    width: 100%;
    float: left;
    object-fit: contain;
  }

  .horas {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
  }

  .menuA, .menuC {
    display: block;
  }

  .publi {
    width: 99%;
    height: 94%;
    margin: 0%;
    padding: 2%;
    border: solid white 2px;
  }

  .publi-d {
    grid-column: 54 / 62;
    padding: 2%;
    background-color: #ffffff;
  }

  .publi-i {
    grid-column: 1 / 8;
    padding: 2%;
    height: 94%;
    background-color: #ffffff;
  }

  .redes {
    margin: 0%;
    padding: 0%;
  }

  .redes img {
    margin: 0%;
    padding: 0%;
  }

  .redes p {
    margin: 0%;
    padding: 0%;
  }

  .redes article:hover {
    border-radius: 10px;
    border: 2px solid purple;
  }

  .servicio {
    width: 100;
    object-fit: contain;
  }

  .serv-caja {
    float: right;
  }

  .serv-nombre {
    float: left;
  }

  .sinEnlace {
    display: none;
  }

  .tithor {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
  }

  #actual {
    color: purple;
    margin-right: 5px;
    padding-right: 7px;
    padding-left: 7px;
    opacity: 0.45;
  }

  #botonAnterior, #botonActual, #botonSiguiente {
    float: left;
    width: 25%;
    margin-left: 6.25%;
  }

  #luna {
    float: right;
    margin-right: 2%;
    width: 9%;
    align-self: center;
    justify-self: right;
  }

  #menu {
    display: none;
  }

  #sol {
    float: left;
    margin-left: 2%;
    width: 10%;
    align-self: center;
    justify-self: left;
  }

  #tarot {
    width: 100%;
    object-fit: contain;
    margin-bottom: 5%;
  }

  #zodiaco {
    width: 100%;
    object-fit: contain;
    margin-top: 0%;
    margin-bottom: 3%;
  }
}
